{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Winner</th>
      <th>Opponent</th>
      <th>Date</th>
      <th>Score</th>
      <th>Event</th>
    </tr>
    {% for match in matches %}
    <tr>
      <td>{{ match.winner }}</td>
      <td>{{ match.opponent }}</td>
      <td>{{ match.date_when }}</td>
      <td>{{ match.score }}</td>
      <td>{{ match.event }}</td>
      <td>
        <li><a href="{{ url_for('comments_form', match_id=match.id) }}">See comments</a></li>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}