{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('matches_create') }}">
  <label for="eka">Winner(team name):</label><input type="text" id="eka" name="winner"/>
  <label for="toka">Their opponent:</label><input type="text" id="toka" name="opponent"/>
  <label for="kolmas">Date (ex. "03 15 2017"):</label><input type="text" id="kolmas" name="date_when"/>
  <label for="neljas">Final score:</label><input type="text" id="neljas" name="score"/>
  <label for="viides">Name of the event, league etc:</label><input type="text" name="event"/>
  <input type="submit" value="Add match"/>
</form>
{% endblock %}