{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('matches_create') }}">
  <table>
    <tr>
      <td>
        {{ form.winner.label }}
      </td>
      <td>
        {{ form.winner }}
      </td>
      <td>
        <ul>
          {% for error in form.winner.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.opponent.label }}
      </td>
      <td>
        {{ form.opponent }}
      </td>
      <td>
        <ul>
          {% for error in form.opponent.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.date_when.label }}
      </td>
      <td>
        {{ form.date_when }}
      </td>
      <td>
        <ul>
          {% for error in form.date_when.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.score.label }}
      </td>
      <td>
        {{ form.score }}
      </td>
      <td>
        <ul>
          {% for error in form.score.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.event.label }}
      </td>
      <td>
        {{ form.event }}
      </td>
      <td>
        <ul>
          {% for error in form.event.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Add match"/>
      </td> 
    </tr>
  </table>
</form>
{% endblock %}