{% extends "layout.html" %}

{% block body %}
  <p>
    Welcome to Urheilutulosfoorumi! :^)
  </p>

{% if best_users is defined %}
<p>
  Most active users:
</p>

<table cellspacing="10" cellpadding="10">
  <tr>
    <th>Username</th>
    <th>Number of comments made</th>
  </tr>
  {% for row in best_users %}
  <tr>
    <td>{{row.name}}</td>
    <td>{{row.comments}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>
      {% if current_user.is_authenticated %}
      {% if current_user.roles() == "ADMIN" %}
      <li><a href="{{ url_for('auth_users') }}">Manage users</a></li>  
    </td>
    {% endif %}
    {% endif %}
  </tr>
</table>

{% endif %}

{% endblock %}
